*{
	margin: 0px;
	padding: 0px;
}
#image {
	position: relative;
	z-index: -1;
	/*height : 900px;*/
	width: 100%;
	margin-top: -10px;
}
#content {
	height: 650px;
	width: 100%;
	padding-top: 100px;
	background-color:white;
	position: relative;
	z-index: 1;
}

.fond-ecran-top {
	background: url("../img/getting-ready1.jpg") 50% 0 no-repeat fixed; 
	background-size: 100%;
	margin: 0 auto; 
	width: 100%; 
	height: 500px;
	max-width: 1920px; 
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.fond-ecran {
	background: url("../img/responsive-web-site-screenshot.jpg") 50% 0 no-repeat fixed; 
	background-size: 110%;
	margin: 0 auto; 
	width: 100%; 
	height: 400px;
	max-width: 1920px; 
	position: relative; 
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.opaque-navbar {
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    background-color: rgba(0,0,0,0.7);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.social_media {
	margin: auto;
	height: 190px;
	width: 100%;
	background-color: #212121;
}

.logos {
	width: 60px;
	margin: 5% 10%;
}
@media (max-width: 992px) {

	.opaque-navbar {
		background-color: rgba(0,0,0,0.9);
		height: 60px;
		transition: background-color .5s ease 0s;
	}

}


