/*@import url(https://fonts.googleapis.com/css?family=Amaranth);*/
@import url(https://fonts.googleapis.com/css?family=Lato);
* {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

html {
	margin: 0;
	padding: 0;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

hr {

    height: 1px;
    background-color:#555;
    width: 27%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

}

#content1 {
	height: 650px;
	width: 100%;
	padding-top: 2%;
	background-color:#ecf0f1;
	position: relative;
}

.html-css {
	width: 10%;
	margin-bottom: 3%;
}

.ruby {
	width: 3%;
	margin-bottom: 3%; 
}
.git  {
	width: 5%;
}

#content2 {
	height: 650px;
	width: 100%;
	padding-top: 2%;
	background-color:#ecf0f1;
	position: relative;
}
#content3 {
	height: 400px;
	width: 100%;
	padding-top: 2%;
	background-color:#ecf0f1;
	position: relative;
}
.fond-ecran-top {
	background: url("../img/desk4-compressor.jpg") 50% 0 no-repeat fixed;
	background-size: 100%;
	margin: 0 auto; 
	width: 100%; 
	height: 750px;
	max-width: 1920px; 
	position: relative;
}

.fond-ecran-top::after {
	content: "";
	width: 100%;
	height: 750px;
	background-color: rgba(0,0,0,0.7);
	z-index: 0; 
	position: absolute;
}
.fond-ecran {
	background: url("../img/paper-ball-compressor.jpg") 50% 0 no-repeat fixed; 
	background-size: 100%;
	width: 100%; 
	height: 360px;
	max-width: 1920px; 
	position: relative;
	
}

.fond-ecran::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 0; 
	position: absolute;
}

.fond-ecran-contact {
	background: url("../img/phone-compressor.jpg") 50% 0 no-repeat fixed; 
	background-size: 100%;
	margin: 0 auto; 
	width: 100%; 
	height: 360px;
	position: relative;
	max-width: 1920px; 

}
.fond-ecran-contact::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 0; 
	position: absolute;
}

.opaque-navbar {
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.social-media {
	height: 180px;
	display: -webkit-flex;
	display: flex;
	align-items : center;
	justify-content: space-around;
	width: 100%;
	background-color: #212121;
}

.logos {
	width: 50px;
	transition: all .1s ease-in-out;
}

.logos:hover {
	 transform: scale(1.2);
}

.glyphicon {
	color: white;
	cursor: pointer;
}

.navbar-toggle {
	border: none;
}

@media (max-width: 992px) {

	.opaque-navbar {
		background-color: rgba(0,0,0,0.9);
		height: 60px;
		transition: background-color .5s ease 0s;
	}

	li {
		background-color: rgba(0,0,0,0.6);

	}
	#navMain.opaque {
		background-color: black;
	}
}


